# Build directory. Ignore everything but dummyfile
build/*
!build/dummyfile

# Kate project
.kateproject.d/
.idea

.vagrant
*.user

# ccls files
.ccls-cache/
src/.ccls-cache/
src/compile_commands.json
