#-----------------------------------------------------------------------------------------------------------------------
# .mailmap
#
# Git mail map; see 'git help mailmap' for details.
#-----------------------------------------------------------------------------------------------------------------------
A.J. Drobnich <aj.drobnich@gmail.com>
Adam Hawes <ach@hawes.net.au>
Aidan Roberts <aidanr67@gmail.com>
Artem Martynov <martynov-a@polyplastic.by>
Blair Bonnett <blair.bonnett@gmail.com>
Brian Rower <brian.rower@gmail.com>
Carles Muñoz Gorriz <carlesmu@internautas.org>
Chris Pavetto <chrispavetto@gmail.com>
Chris Speck <cgspeck@gmail.com>
Christopher Hamilton <marker5a@gmail.com>
Dan Cavanagh <dan@dancavanagh.com>
Daniel Pettersson <pettson81@gmail.com>
David Grundberg <individ@acc.umu.se>
Eric Tamme <etamme@gmail.com>
Greg Greenaae <ggreenaae@gmail.com>
Greg Meess <Daedalus12@gmail.com>
Idar Lund <idarlund@gmail.com>
Iman Ahmadvand &lf;iman72411@gmail.com>
Jamie Daws <jdelectronics1@gmail.com>
Jean-Baptiste Wons <wonsjb@gmail.com>
Jeff Bailey <skydvr38@verizon.net>
Jerry Jacobs <jerry@xor-gate.org>
Joe Aczel <jaczel@fastmail.com.au>
Jonatan Pålsson <jonatan.p@gmail.com>
Jonathon Harding <github@jrhardin.net>
Julian Volodia <julianvolodia@gmail.com>
Kregg Kemper <gigatropolis@yahoo.com>
Luke Vincent <luke.r.vincent@gmail.com>
Marcel Koek <koek.marcel@gmail.com>
Mark de Wever <koraq@xs4all.nl>
Markus Mårtensson <mackan.90@gmail.com>
Matt Anderson <matt.anderson@is4s.com>
Matt Young <matt.young@palaso.com>
Matt Young <mfsy@yahoo.com>
Mattias Måhl <mattias@kejsarsten.com>
Maxime Lavigne <duguigne@gmail.com>
Medic Momcilo <medicmomcilo@gmail.com>
Mik Firestone <mikfire@gmail.com>
Mike Evans <mikee@saxicola.co.uk>
Mikhail Gorbunov <mikhail@sirena2000.ru>
Mitch Lillie <mitch@mitchlillie.com>
Padraic Stack <padraic.stack@gmail.com>>
Peter Buelow <goballstate@gmail.com>
Peter Urbanec <git.user@urbanec.net>>
Philip Greggory Lee <rocketman768@gmail.com>
Rob Taylor <robtaylor@floopily.org>
Ryan Hoobler <rhoob@yahoo.com>
Samuel Östling <MrOstling@gmail.com>
Scott Peshak <scott@peshak.net>
Ted Wright <tedwright@users.sourceforge.net>
Théophane Martin <theophane.m@gmail.com>
Tim Payne <swstim@gmail.com>
Tyler Cipriani <tcipriani@wikimedia.org>
