#-----------------------------------------------------------------------------------------------------------------------
# .mailmap
#
# Git mail map; see 'git help mailmap' for details.
#-----------------------------------------------------------------------------------------------------------------------
Matt Young <mfsy@yahoo.com>
Matt Young <matt.young@palaso.com>
