language: c++
os: osx
before_install:
  - export PATH=/usr/local/opt/qt5/bin:$PATH
  - brew update
install:
  - brew install qt5
before_script:
  - mkdir build
  - cd build
  - cmake ..
script: make && (CTEST_OUTPUT_ON_FAILURE=TRUE make test)
