[Desktop Entry]
Categories=Qt;Education;Utility;Engineering
Encoding=UTF-8
Exec=brewtarget
Name=BrewTarget
GenericName=Beer Calculator
X-KDE-StartupNotify=true
Icon=brewtarget
Terminal=false
Type=Application

