[Desktop Entry]
Categories=Qt;KDE;Education;Utility;Engineering
Encoding=UTF-8
Exec=brewtarget
Name=Brewtarget
GenericName=Beer calculator
X-KDE-StartupNotify=true
Icon=/usr/share/icons/brewtarget/BrewtargetIcon.png
Terminal=false
Type=Application

