name: Linux

on:
  push:
    branches:
      - develop
      - "stable/**"
  pull_request:
    branches:
      - develop
  schedule:
    - cron: "0 2 * * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Dependencies
        shell: bash
        run: |
          sudo apt-get update && sudo apt-get install -y \
            qtbase5-dev \
            qttools5-dev \
            qttools5-dev-tools \
            qtmultimedia5-dev \
            libqt5sql5-sqlite \
            libqt5sql5-psql \
            libqt5svg5-dev \
            libqt5multimedia5-plugins \
            lintian \
            rpmlint \
            libxerces-c-dev \
            libxalan-c-dev \
            libboost-all-dev

      - name: Apply Patches
        shell: bash
        working-directory: ${{github.workspace}}
        run: ./build-scripts/linux/apply-patches.sh $GITHUB_WORKSPACE

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          umask 022
          cmake \
            -DDO_RELEASE_BUILD=ON \
            -DNO_QTMULTIMEDIA=ON \
            -DNO_MESSING_WITH_FLAGS=ON \
            -DEXEC_PREFIX=/usr \
            $GITHUB_WORKSPACE

      - name: Build
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: |
          make

      - name: Test
        working-directory: ${{github.workspace}}/build
        shell: bash
        env:
          CTEST_OUTPUT_ON_FAILURE: TRUE
          QT_QPA_PLATFORM: minimal
        run: |
          make test

      - name: Package
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: |
          umask 022
          make package

      - name: Lintian
        continue-on-error: true
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: lintian --profile debian --pedantic *.deb | less

      - name: rpmlint
        continue-on-error: true
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: rpmlint *.rpm | less

      - name: Upload Brewtarget Installers
        if: ${{ success() }}
        uses: actions/upload-artifact@v2
        with:
          name: brewtarget-${{matrix.os}}
          path: build/brewtarget*
          retention-days: 7

      - name: Recover Debris Artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: build-results-${{matrix.os}}
          path: build
          retention-days: 1
